.daily-asset-card-container {
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
    height: 300px;
    flex-grow: 1;
    flex-basis: auto;
}
p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.company-name {
    font-size: 0.9rem;
    font-weight: bold;
}

.price {
    font-size: 1.2rem;
    font-weight: bolder;
}

.graph-container {
    width: 250px;
    height: 250px;
}